div{
border:1px dotted gray;
    margin:10px;
    padding:10px;

}
#divCat{
    display:inline;
}
table th{
     padding:10px;
     background: cornsilk ;
     border:1px dotted gray;

 }
table td{
    padding:10px;
    background: white ;
    border:1px dotted gray;

}